*{
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed
}
.small-header, .small-header1{
    color: white;
    background: #333333;
    padding: 10px;
    text-align: center;
}

.salam{
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
    .glow {
        font-size: 60px;
        color: #fff;
        text-shadow: 5px 5px 2px magenta;
        filter: blur(1px);
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          font-size: 60px;
        }
        
        to {
            font-size: 80px;
        }
      }
.animate__heartBeat{
    animation-iteration-count: infinite;
}
#name{
    font-size: 60px;
    text-align: center;
    padding: 10px;
}
.technovedant1{position:fixed;left:1%; width:auto;height:100%;top:1%;color:#000;}
.technovedant2{position:fixed;right:1%; width:auto;height:100%;top:1%;color:#000;}
#eid{
    font-size: 60px;
    text-align: center;
    padding: 10px;
}
#formBox {
    left: 0;position: fixed;bottom: 0;display: inline-block;width: 100%;margin: 0;
  }
  #nameTextBox {
    border: 3px solid #000000;text-align: center;display: inline-block;width: 80%;color: black;font-size:16px;margin: 0;background: #eee;height: 48px;font-weight: 700;;padding:8px 0;
  }
  #goButton {
    width: 20%;background: gold;display: inline-block;vertical-align: bottom;border: 3px solid #000000;float: right;color: black;font-size:16px;padding:8px 0;height: 48px;text-align:center;font-weight: 700;
  }
.small-con{
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
.container{
    text-align: center;
    width: 100%;
}
.img{
    width: 270px;
}
.footerbtn{
    padding: 10px;
    background: 	#34AF23;
    text-decoration: none;
    color: white;
    left: 0;
    position: fixed;
    bottom: 60px;
    display: inline-block;
    width: 270px;
    margin: 0 39%;
    z-index: 99;
    border-radius: 20px;

}
.container#blur.active{
    filter: blur(20px);
}
#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    text-align: center;
    height: 500px;
}
#popup h1{
    margin: 0;
    text-align: center;
    color: royalblue;
}
#popup p{
    font-size: 20px;
    color: green;
    margin: 15px !important;
}
#popup img{
    text-align: center;
    margin: 4px auto;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.con{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    position: relative;
    right: 17px;
    text-decoration: none;
    color: black;
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 15px;
    width: 150px;
}
.con:hover{
    background: linear-gradient(45deg, darkblue, dodgerblue);
    border: none;
    color: white;
    cursor: pointer;
}
.fb{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    
}
.yt{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}
@media only screen and (max-width: 570px) {
    .small-con{
        width: 270px;
        text-align: center;
        margin: 0 auto;
    }
    #popup{
        width: 300px;
        height: 650px;
        top: 70%;
    }
    #popup a{
        left: 5px;
    }
    #popup p{
        margin: 0 !important;
    }
    .myname{
        font-size: 20px;
    }
    .footerbtn{
        padding: 10px;
        background: 	#34AF23;
        text-decoration: none;
        color: white;
        position: fixed;
        bottom: 60px;
        display: inline-block;
        width: 270px;
        z-index: 99;
        border-radius: 20px;
        text-align: center;
        left: -100px;
    
    }
    .salam{
        font-size: 18px;
    }
    #name{
        font-size: 20px;
        
    }
    .name1{
        font-size: 25px;
    }
    #eid{
        font-size: 27px;
    }
    .small-header1{
        font-size: 15px;
    }
    #formBox {
        left: 0;position: fixed;bottom: 0;display: inline-block;width: 100%;margin: 0;
      }
      #nameTextBox {
        border: 3px solid #000000;text-align: center;display: inline-block;width: 80%;color: black;font-size:16px;margin: 0;background: #eee;height: 48px;font-weight: 700;;padding:8px 0;
      }
      #goButton {
        width: 20%;background: gold;display: inline-block;vertical-align: bottom;border: 3px solid #000000;float: right;color: black;font-size:16px;padding:8px 0;height: 48px;text-align:center;font-weight: 700;
      }
      .glow {
        font-size: 30px;
        color: #fff;
        text-shadow: 5px 5px 2px magenta;
        filter: blur(1px);
        text-align: center;
        -webkit-animation: glow 1s linear infinite alternate;
        -moz-animation: glow 1s linear  infinite alternate;
        animation: glow 1s linear  infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          font-size: 30px;
        }
        
        to {
            font-size: 50px;
        }
      }
}